<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @order_detail.book_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @order_detail.cantidad %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @order_detail.descuento %>
</p>

<p>
  <strong>Preciouni:</strong>
  <%= @order_detail.preciouni %>
</p>

<p>
  <strong>Cantidadtotal:</strong>
  <%= @order_detail.cantidadtotal %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @order_detail.importe %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
